@import 'config';

header{
    nav.navbar{
        background-color: $bg_color;
    }
    #login{
        min-width: 250px;
    }
}
.banner{
    position: relative;
    z-index: 0;
    @media (min-width: 960px) {
        margin: 0 -15%;
    }
    .carousel-inner{
        .carousel-item{
            z-index: 1;
            &:before{
                content:"";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                @include linear-gradient;
                z-index: 3;
            }
            img{
                z-index: 2;
            }
            .carousel-caption{
                z-index: 4;
            }
        }
    }
    .carousel-control-prev, .carousel-control-next{
        z-index: 5;
    }
}

span.required{
    color: red;
}

section#home{
    padding: 10px 0;
    h1.title{
        margin: 5px 0;
    }
    ul.events{
        padding: 10px 0;
        flex-wrap: wrap;
        li.event{
            &:hover{
                @include box-shadow;
            }
            .detail-event{
                span{
                    display: block;
                    &.data-inicio, &.data-fim{
                        font-size: 0.7em;
                    }
                }
            }
        }
        .card-footer{
            a{
                font-size: 0.7em;
            }
        }
    }
}

#event{
    .detail{
        border-bottom: 1px solid $light_gray;
        .info{
            .intro{
                font-weight: $light;
                font-size: $font_size_default - 0.2;
            }
        }
        .calendar{
            ul{
                display: flex;
                flex-direction: column;
                padding: 5% 7%;
                li.nav-item{
                    font-size: $font_size_default - 0.2;
                    display: block;
                    padding: 2px 0;
                }
            }
        }
    }
    .activities{
        padding: 10px 0;
        #atividades{
            #lista-atividades{
                position: relative;
                .tab-pane{
                    padding: 0;
                    margin: 0;
                    &:not([class~='show']){
                        display: none;
                    }
                    .card-deck{
                        flex-direction: column;
                        .card{
                            margin: 10px 0;
                            .card-body{
                                display: flex;
                                flex-direction: row;
                                padding: 0;
                                .data-hora{
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    width: 15%;
                                    padding: 10px;
                                    text-align: center;
                                    color: $white;
                                    background-color: $bg_data;
                                    &.warning{
                                        background-color: $bg_data_warning;
                                    }
                                    &.end{
                                        background-color: $bg_data_end;
                                    }
                                    span.hora,small{
                                        align-self: center;
                                        padding: 5px;
                                        display: block;
                                    }
                                    span.hora{
                                        font-size: $font_size_default + 1.5;
                                        font-weight: $bold;
                                    }
                                }
                                .card-text{
                                    flex-grow: 10;
                                    padding: 10px;
                                }
                                .lb-seleciona{
                                    flex-grow: 1;
                                    align-self: center;
                                    padding: 10px;
                                    text-align: right;
                                    label{
                                        display: block;
                                    }
                                }
                            }
                            .card-footer{
                                .foot-detail{
                                    font-size: $font_size_default - 0.2;
                                    div{
                                        padding: 10px 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

footer.copyright{
    font-size: 0.8em;
}

@media (max-width: 767.98px) {
    .card-deck{
        margin-left:-20px;
    }
}