$color_1: #1f1f1f;
$color_2: #979797;
$color_3: #fff;
$color_4: #ddd;
$background_color_1: #999;
$background_color_2: #fff;
$background_color_3: #2196f3;
$background_color_4: #979797;
$background_color_5: #3b5998;
$background_color_6: #d9432f;
$background_color_7: #f9f9f9;
$border_bottom_color_1: #2196f3;

/* a.loginface{display:inline-block;}
a.loginface span.txt{display: inline-block;padding: 5px;color:#2196f3}
a.loginface img{display: inline-block;width: 24px;height: auto;} */
label.ico-menu {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 51;
	div {
		position: relative;
	}
	span {
		display: block;
		margin: 5px;
		padding-top: 5px;
		background-color: $background_color_1;
		width: 100%;
	}
}
input#ck-menu {
	clip: rect(0, 0, 0, 0);
	position: absolute;
	&:checked {
		&~aside#side-menu {
			transform: translateX(0);
		}
		&+label.ico-menu {
			span {
				&:first-child {
					display: none;
				}
				&:nth-child(2) {
					transform: rotateZ(45deg);
				}
				&:nth-child(3) {
					transform: rotateZ(-45deg);
				}
			}
		}
	}
}
input.ck-list-horario {
	clip: rect(0, 0, 0, 0);
	position: absolute;
}
input[type="text"] {
		padding: 10px 0;
		border: 0;
		outline: 0;
		background: none;
		border-bottom: 1px solid #979797;
		color: $color_1;
		width: 100%;
		&:focus {
			border-bottom-color: $border_bottom_color_1;
			border-bottom-width: 2px;
		}
		&::-webkit-input-placeholder {
			color: $color_4;
		}
		&::-moz-placeholder {
			color: $color_4;
		}
		&::-ms-input-placeholder {
			color: $color_4;
		}
}
input[type="email"]{
		padding: 10px 0;
		border: 0;
		outline: 0;
		background: none;
		border-bottom: 1px solid #979797;
		color: $color_1;
		width: 100%;
		&:focus {
			border-bottom-color: $border_bottom_color_1;
			border-bottom-width: 2px;
		}
		&::-webkit-input-placeholder {
			color: $color_4;
		}
		&::-moz-placeholder {
			color: $color_4;
		}
		&::-ms-input-placeholder {
			color: $color_4;
		}
}
input[type="password"]{
		padding: 10px 0;
		border: 0;
		outline: 0;
		background: none;
		border-bottom: 1px solid #979797;
		color: $color_1;
		width: 100%;
		&:focus {
			border-bottom-color: $border_bottom_color_1;
			border-bottom-width: 2px;
		}
		&::-webkit-input-placeholder {
			color: $color_4;
		}
		&::-moz-placeholder {
			color: $color_4;
		}
		&::-ms-input-placeholder {
			color: $color_4;
		}
	}
input[type="tel"]{
		padding: 10px 0;
		border: 0;
		outline: 0;
		background: none;
		border-bottom: 1px solid #979797;
		color: $color_1;
		width: 100%;
		&:focus {
			border-bottom-color: $border_bottom_color_1;
			border-bottom-width: 2px;
		}
		&::-webkit-input-placeholder {
			color: $color_4;
		}
		&::-moz-placeholder {
			color: $color_4;
		}
		&::-ms-input-placeholder {
			color: $color_4;
		}
}
input[type="number"]{
		padding: 10px 0;
		border: 0;
		outline: 0;
		background: none;
		border-bottom: 1px solid #979797;
		color: $color_1;
		width: 100%;
		&:focus {
			border-bottom-color: $border_bottom_color_1;
			border-bottom-width: 2px;
		}
}
select {
	padding: 10px 0;
	border: 0;
	outline: 0;
	background: none;
	border-bottom: 1px solid #979797;
	color: $color_1;
	width: 100%;
	&:focus {
		border-bottom-color: $border_bottom_color_1;
		border-bottom-width: 2px;
	}
}
textarea {
	padding: 10px 0;
	border: 0;
	outline: 0;
	background: none;
	border-bottom: 1px solid #979797;
	color: $color_1;
	width: 100%;
	&:focus {
		border-bottom-color: $border_bottom_color_1;
		border-bottom-width: 2px;
	}
	&::-webkit-input-placeholder {
		color: $color_4;
	}
	&::-moz-input-placeholder {
		color: $color_4;
	}
	&::-ms-input-placeholder {
		color: $color_4;
	}
}
button.submit {
	padding: 10px 15px;
	border: none;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background-color: $background_color_2;
	text-transform: uppercase;
	color: $color_2;
	font-size: 0.7em;
}
button[type="submit"]{
		padding: 10px 15px;
		border: none;
		border-radius: 2px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		background-color: $background_color_2;
		text-transform: uppercase;
		color: $color_2;
		font-size: 0.7em;
	}
input[type="submit"]{
		padding: 10px 15px;
		border: none;
		border-radius: 2px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		background-color: $background_color_2;
		text-transform: uppercase;
		color: $color_2;
		font-size: 0.7em;
	}
a.submit {
	padding: 10px 15px;
	border: none;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background-color: $background_color_2;
	text-transform: uppercase;
	color: $color_2;
	font-size: 0.7em;
}
button.submit.active {
	background-color: $background_color_3;
	color: $color_3;
	box-shadow: 0 1px 2px #979797;
	-webkit-box-shadow: 0 1px 2px #979797;
	-moz-box-shadow: 0 1px 2px #979797;
	&:hover {
		box-shadow: 0 2px 5px #666;
		-webkit-box-shadow: 0 2px 5px #666;
		-moz-box-shadow: 0 2px 5px #666;
	}
}
button[type="submit"].active {
	background-color: $background_color_3;
	color: $color_3;
	box-shadow: 0 1px 2px #979797;
	-webkit-box-shadow: 0 1px 2px #979797;
	-moz-box-shadow: 0 1px 2px #979797;
	&:hover {
		box-shadow: 0 2px 5px #666;
		-webkit-box-shadow: 0 2px 5px #666;
		-moz-box-shadow: 0 2px 5px #666;
	}
}
input[type="submit"].active {
	background-color: $background_color_3;
	color: $color_3;
	box-shadow: 0 1px 2px #979797;
	-webkit-box-shadow: 0 1px 2px #979797;
	-moz-box-shadow: 0 1px 2px #979797;
	&:hover {
		box-shadow: 0 2px 5px #666;
		-webkit-box-shadow: 0 2px 5px #666;
		-moz-box-shadow: 0 2px 5px #666;
	}
}
a.submit.active {
	background-color: $background_color_3;
	color: $color_3;
	box-shadow: 0 1px 2px #979797;
	-webkit-box-shadow: 0 1px 2px #979797;
	-moz-box-shadow: 0 1px 2px #979797;
	&:hover {
		box-shadow: 0 2px 5px #666;
		-webkit-box-shadow: 0 2px 5px #666;
		-moz-box-shadow: 0 2px 5px #666;
	}
}
.submit.sec {
	&:hover {
		box-shadow: 0 2px 5px #666;
		-webkit-box-shadow: 0 2px 5px #666;
		-moz-box-shadow: 0 2px 5px #666;
	}
}
input {
	&:-webkit-autofill {
		-webkit-box-shadow: 0 0 0px 1000px white inset;
	}
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}
form {
	div.input {
		margin: 10px 0;
		position: relative;
	}
	div.input.part {
		display: inline-block;
		width: 40%;
		margin-right: 10px;
	}
}
div.input {
	label {
		font-size: 0.7em;
		color: $color_2;
		display: block;
		text-align: left;
	}
}
.cadastro {
	div.input {
		input[type="radio"] {
			position: absolute;
			clip: rect(0,0,0,0);
		}
		input[type="checkbox"] {
			position: absolute;
			clip: rect(0,0,0,0);
		}
	}
}
div.input.radio {
	label {
		&:after {
			display: inline-block;
			content: "";
			width: 12px;
			height: 12px;
			float: left;
			margin-right: 5px;
			border: 2px solid #979797;
			border-radius: 3px;
		}
	}
	input[type="radio"] {
		&:checked {
			&+label {
				&:after {
					background-color: $background_color_4;
				}
			}
		}
	}
}
div.input.checkbox {
	label {
		&:after {
			display: inline-block;
			content: "";
			width: 12px;
			height: 12px;
			float: left;
			margin-right: 5px;
			border: 2px solid #979797;
			border-radius: 3px;
		}
	}
	input[type="checkbox"] {
		&:checked {
			&+label {
				&:after {
					background-color: $background_color_4;
				}
			}
		}
	}
}
ul.login-fields {
	li.options {
		span {
			display: block;
			padding: 5px;
			clear: both;
		}
		ul.alt-sociallogin {
			max-width: 250px;
			margin: 0 auto;
			&:after {
				content: "";
				clear: both;
				display: block;
			}
			li {
				display: block;
				width: 50%;
				float: left;
				a {
					display: block;
					text-align: center;
					background-repeat: no-repeat;
					background-size: contain;
					padding: 10px;
					color: $color_3;
				}
				a.loginface {
					background-image: url(../img/facebook.svg);
					background-position: 1% 50%;
					background-color: $background_color_5;
				}
				a.logingoogle {
					background-image: url(../img/google.svg);
					background-position: 99% 50%;
					background-color: $background_color_6;
				}
			}
		}
	}
}
a.ico-add {
	display: block;
	width: 32px;
	height: 32px;
	border-radius: 100%;
	padding: 10px;
	font-size: 5em;
	line-height: 0.43em;
	font-weight: 100;
	background-color: $background_color_3;
	color: $color_3;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 10;
	box-shadow: 0 1px 2px #979797;
	-webkit-box-shadow: 0 1px 2px #979797;
	-moz-box-shadow: 0 1px 2px #979797;
}
ul.list-items-box {
	li.item {
		display: block;
		position: relative;
		font-size: 0.9em;
		margin: 5px;
		background-color: $background_color_2;
		border: 1px solid #f0f0f0;
		border-bottom-width: 3px;
		border-radius: 2px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		-o-border-radius: 2px;
		-ms-border-radius: 2px;
		&:hover {
			background-color: $background_color_7;
			box-shadow: 0 2px 1px #979797;
			-webkit-box-shadow: 0 2px 1px #979797;
			-o-box-shadow: 0 2px 1px #979797;
			-moz-box-shadow: 0 2px 1px #979797;
		}
	}
}
span.info {
	display: block;
	font-size: 0.7em;
	color: $color_2;
}
